<app-header></app-header>
<br><br><br><br>

    
<div class="col-sm-4 col-md-4 col-lg-3 p-b-35 isotope-item women">
    <!-- Block2 -->
    <div class="block2" *ngFor="let d of dataC  | paginate: { itemsPerPage: 3, currentPage: p} let index = index ">
        <div class="card  mb-5 mt-5 " style="width: 18rem;" >
        <div class="block2-pic hov-img0 label-new" data-label="New">
            <img src="../../assets/images/product-01.jpg" alt="IMG-PRODUCT">

            <a href="#" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                Quick View
            </a>
        </div>

        <div class="block2-txt flex-w flex-t p-t-14" >
            <div class="block2-txt-child1 flex-col-l ">
                <a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                    {{ d.description }}
                </a>

                <span class="stext-105 cl3">
                    {{ d.price }}$
                </span>
                <span class="stext-105 cl3">
                    {{ d.qteStock }}
                </span>
                <span class="stext-105 cl3">
                    {{ d.image }}
                </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
                <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                    <img class="icon-heart1 dis-block trans-04" src="../../assets/images/icons/icon-heart-01.png" alt="ICON">
                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="../../assets/images/icons/icon-heart-02.png" alt="ICON">
                </a>
            </div>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-secondary" (click)="goToUpdate(d.id)"><i class="bi bi-pencil-square"></i></button>&nbsp;
                <button button class="btn btn-danger" (click)="delete(d.id)"><i class="bi bi-trash3"></i></button>
                <!-- <button type="button" class="btn btn-info" (click)="diplayVideo(e.dataVideo,e.fileType,Video)"><i class="bi bi-eye"></i></button>-->
            </div>
        </div>
    </div>
    </div>
</div>



<div class="paginator">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<app-footer></app-footer>