:root{
    // colors
    --main-bg-white: #fff;
    --main-blue: #1d92f2;
    --main-blue-off-light: #76bdf6;
    --accent-color: #e64b41;
    --accent-color-off-light: #f87172;
    --secondary-bg-off-white: #eceef1;
    --third-bg-off-white: #f7fafc;
    --fourth-bg-off-white: #a8afb9;
    --input-text-color: #b4bdc9;

    // sizes
    --i-font-size: 1.2rem;
    --wide-width: 800px;
}