<app-header></app-header>
<br><br><br><br>
<div class="form">
    <div class="row ml-5">
        <div class="col-sm-4" *ngFor="let d of dataC  | paginate: { itemsPerPage: 3, currentPage: p} let index = index ">
            <div class="card  mb-5 mt-5 " style="width: 18rem;" >
           <!-- <img  class="card-img-top" [src]="image(e.data,e.fileType)" alt="Card image cap">-->
            
             
            <div class="card-body">
            <div class="card-header">
                <h5 class="card-title">{{d.image}} | <span class="badge badge-dark"></span></h5>
                
            </div>
            <div class="card-body">
                <p class="card-text mb-5">{{ d.description }}</p>
            </div>
            <div class="card-body">
                <p class="card-text mb-5">{{ d.price}}</p>
            </div>
            <div class="card-body">
                <p class="card-text mb-5">{{ d.qteStock}}</p>
            </div>
                 <div class="card-footer text-center">
                    <button type="button" class="btn btn-secondary" (click)="goToUpdate(d.id)"><i class="bi bi-pencil-square"></i></button>&nbsp;
                    <button button class="btn btn-danger" (click)="delete(d.id)"><i class="bi bi-trash3"></i></button>
                    <!-- <button type="button" class="btn btn-info" (click)="diplayVideo(e.dataVideo,e.fileType,Video)"><i class="bi bi-eye"></i></button>-->
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>
    <div class="paginator">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    <app-footer></app-footer>